<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The End of Game</title>
	<link rel="stylesheet" type="text/css" href="/public/file.css">
</head>
<body>
  
  <h2 class="complete">The End of Game</h2>
  <p class="img">
    <img src="https://www.dreamstime.com/stock-images-sad-homeless-dog-cartoon-illustration-image40835084" alt="DOG">
  </p>

</body>
</html>