<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/file.css">
  </head>
  <body>

    <h2 class="h2_ended">Game ended</h2>
    <p class="img">
    <img src="https://www.teepublic.com/pin/4942585-adventure-time-jake-the-dog-on-your-stuff">	
    </p>
	
  </body>
</html>
